.our-school-section {
  position: relative;

  padding: 30px 30px;

  width: 100%;
  min-height: 369px;
  background-image: linear-gradient(to top, #fff 50%, #b8c3cb 50%);
}
@media (min-width: 1024px) {
  .our-school-section {
    display: flex;
    justify-content: center;
    min-height: 555px;
    background-image: linear-gradient(to bottom, #b8c3cb 70%, #fff 30%);
  }
}

.our-school-section .our-school-image {
  margin-left: auto;
  margin-right: auto;
  width: 352px;
  min-height: 389px;
  background-image: url('./data/our_school_img_small.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .our-school-section .our-school-image {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 425px) {
  .our-school-section .our-school-image {
    width: 280px;
  }
}

.our-school-section .our-school-accordeon {
  margin-top: 30px;
}

@media (min-width: 1024px) {
  .our-school-section .our-school-accordeon {
    width: 40%;
    margin-left: 30px;
  }
}

.our-school-section .accordeon-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-school-section .accordeon-btn {
  height: 55px;
  width: 55px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b8c3cb;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.our-school-section .accordeon-btn .count-circle {
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #fff;
  border-radius: 50%;
}

.our-school-section .accordeon-btn .count-circle span {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 1;
  color: #fff;
}

@media (min-width: 1024px) {
  .our-school-section .accordeon-btn {
    background-color: #fff;
  }
  .our-school-section .accordeon-btn .count-circle {
    border: 1px dashed #b8c3cb;
  }
  .our-school-section .accordeon-btn .count-circle span {
    color: #b8c3cb;
  }
}

.our-school-section .our-school-accordeon ul {
  padding-left: 5px;
  margin: 0;
  list-style-type: none;
}

.our-school-section .our-school-accordeon li {
  position: relative;
  border-bottom: 1px solid #1f1f1f;

  overflow: hidden;
}

.our-school-section .open {
  display: block;
}

.our-school-section .our-school-accordeon h3 {
  margin: 30px 0;

  font-family: 'Cormorant', serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.22;
  color: #1f1f1f;
}
.our-school-section .our-school-accordeon p {
  max-height: 0;
  overflow: hidden;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-transform: lowercase;

  color: #1f1f1f;
  text-transform: lowercase;
  transition: max-height 1500ms ease;
}

.our-school-section .our-school-accordeon p.open {
  max-height: 500px;
  margin-bottom: 10px;
}
